.navbar{

    display: flex;
    
    
}

.navbar a {

    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin: 2rem;

}

.active{

    font-weight: 900;
}

@media screen and (max-width:400px) {
    
    .navbar a {

        margin: 1rem;
    }
}